.App {
  text-align: center;
  font-family: -apple-system-tall-body, BlinkMacSystemFont, sans-serif;
  margin-top: 10%;
}

#airportList {
  height: 300px;
  overflow-y: scroll;
}

#switcher {
  margin-top: 10%;
}

#custom-switch {
  transform: scale(2.5);
}

.buttons {
  float: left;
  margin-top: 10%;
  margin-left: 25px;
  transform: scale(1.3);
}

